
nav{
    padding: auto;
    height: 90px;
    width: 1200px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.container-fluid{
    background: #000;
    border-radius: 100px;
    margin-top: 25px;
}

#cen{
    /* background-color: rgb(255, 0, 0); */
    margin-top: -86px;
    margin-left: 60%;

}

.col-auto a{
    /* background-color: rgb(0, 157, 255); */
    margin-top: -1px;
}
