:root{
    --bg-color: #fff;
    --p-color: #00224D;
    --s-color: #5D0E41;
}



body{
    background-image: url(/image/img\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

nav{
    padding: auto;
    height: 90px;
    width: 1200px;
    display: block;
    left: 50%;
    transform: translate(-50%,-20%);
}

.container-fluid{
    background-color: var(--bg-color);
    border-radius: 100px;
    margin-top: 25px;
}

#cen{
    margin-top: -86px;
    margin-left: 60%;
}

.nav-item a{
    text-decoration: none;
    color: var(--p-color);
    font-size: 17px;
}
#nav_home{
    color: var(--s-color);
}

.col-auto a{
    margin-top: -1px;
    text-decoration: none;
    color: var(--p-color);
}
#login {
    background-color: var(--p-color);
    padding: 10px 40px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    color:var(--bg-color);
}

#create {
    padding: 10px 30px;
}

#create:hover {
    background-color: var(--p-color);
    padding: 10px 30px;
    border-radius: 40px;
    color:var(--bg-color);  
}

